<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header col-md-1">
            <a class="navbar-brand" href="#">菜鸟教程</a>
        </div>
        <div class="navbar-form col-md-10">
            <ul class="nav nav-pills">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">爬虫任务管理</a></li>
                <li><a href="#">爬虫类管理</a></li>
                <li><a href="#">爬虫配置管理</a></li>
                <li><a href="#">下载件管理</a></li>
                <li><a href="#">爬虫中间件管理</a></li>
            </ul>
        </div>
        <div class="col-md-2 navbar-right">
            <p class="navbar-text r">Runoob 用户登录</p>
        </div>
    </div>
</nav>