<link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/static/plugins/bootstrapTable/bootstrap-table.min.css" rel="stylesheet">
<link href="/static/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
<link href="/static/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/quick_layout.css" rel="stylesheet">