<script src="/static/plugins/jquery/jquery.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/plugins/bootstrapTable/bootstrap-table.min.js"></script>
<script src="/static/plugins/bootstrapTable/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/plugins/bootstrap-table-module/bt-table-module.js"></script>
<script src="/static/plugins/jquery-confirm/jquery-confirm.min.js"></script>
<script src="/static/plugins/toastr/toastr.min.js"></script>
<script src="/static/js/common.js"></script>