{% extends 'layout/base.html' %}
{% block commonLink %}
    <link href="{{ url_for('static', filename='minimal/assets/css/vendor/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='minimal/assets/js/vendor/mmenu/css/jquery.mmenu.all.css') }}"
          type="text/css" rel="stylesheet" media="all"/>
    <link href="{{ url_for('static', filename='minimal/assets/css/vendor/bootstrap-checkbox.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='minimal/assets/js/vendor/tabdrop/css/tabdrop.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="mask">
        <div id="loader"></div>
    </div>
    <div id="wrap">
        <div class="row">
            {% include 'layout/nav/nav.html' %}
            <div id="content" class="col-md-12">
                <div class="pageheader">
                    <h2>
                        {% block contentHeader %}{% endblock %}
                    </h2>
                    <div class="breadcrumbs">
                        <ol class="breadcrumb">
                            <li>当前位置</li>
                            {% block menuLocation %}{% endblock %}
                        </ol>
                    </div>
                </div>
                <div class="main">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% include 'layout/footer.html' %}
{% endblock %}
{% block commonScript %}
    <script src="{{ url_for('static', filename='minimal/assets/js/vendor/mmenu/js/jquery.mmenu.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='minimal/assets/js/vendor/sparkline/jquery.sparkline.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='minimal/assets/js/vendor/nicescroll/jquery.nicescroll.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='minimal/assets/js/vendor/animate-numbers/jquery.animateNumbers.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='minimal/assets/js/vendor/blockui/jquery.blockUI.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='minimal/assets/js/vendor/tabdrop/bootstrap-tabdrop.min.js') }}"></script>
    <script src="{{ url_for('static', filename='minimal/assets/js/minimal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}