<!-- Bootstrap -->
<link href="{{ url_for('static', filename='minimal/assets/css/vendor/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='minimal/assets/js/vendor/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='minimal/assets/css/minimal.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='plugins/jquery-confirm/jquery-confirm.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='plugins/toastr/toastr.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/quick_layout.css') }}" rel="stylesheet">