<ul class="nav navbar-nav side-nav" id="sidebar">

    <li class="collapsed-content">
        <ul>
            <li class="search"><!-- Collapsed search pasting here at 768px --></li>
        </ul>
    </li>

    <li class="navigation" id="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="#navigation">Navigation <i class="fa fa-angle-up"></i></a>

        <ul class="menu">

            <li class="active">
                <a href="index.html">
                    <i class="fa fa-tachometer"></i> 首页
{#                    <span class="badge badge-red">1</span>#}
                </a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-pencil"></i> 爬虫配置信息管理 <b class="fa fa-plus dropdown-plus"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="ui-elements.html">
                            <i class="fa fa-caret-right"></i> ip配置
                        </a>
                    </li>
                    <li>
                        <a href="typography.html">
                            <i class="fa fa-caret-right"></i> user-agent配置
                        </a>
                    </li>
                    <li>
                        <a href="tiles.html">
                            <i class="fa fa-caret-right"></i> 默认配置管理
                        </a>
                    </li>
                    <li>
                        <a href="tiles.html">
                            <i class="fa fa-caret-right"></i> cookies管理
                        </a>
                    </li>
                    <li>
                        <a href="tiles.html">
                            <i class="fa fa-caret-right"></i> 平台账户管理
                        </a>
                    </li>
                    <li>
                        <a href="tiles.html">
                            <i class="fa fa-caret-right"></i> 中间件信息
                        </a>
                    </li>
                    <li>
                        <a href="tiles.html">
                            <i class="fa fa-caret-right"></i> 管道信息
                        </a>
                    </li>
                    <li>
                        <a href="tiles.html">
                            <i class="fa fa-caret-right"></i> 存储器配置
                        </a>
                    </li>
                    <li>
                        <a href="tiles.html">
                            <i class="fa fa-caret-right"></i> 输出转换配置
                        </a>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-pencil"></i> 爬虫对象管理 <b class="fa fa-plus dropdown-plus"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="ui-elements.html">
                            <i class="fa fa-caret-right"></i> 爬虫类信息
                        </a>
                    </li>
                    <li>
                        <a href="typography.html">
                            <i class="fa fa-caret-right"></i> 爬虫对象
                        </a>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-th-large"></i> 爬虫数据管理 <b class="fa fa-plus dropdown-plus"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="tables.html">
                            <i class="fa fa-caret-right"></i> url管理
                        </a>
                    </li>
                    <li>
                        <a href="datatables.html">
                            <i class="fa fa-caret-right"></i> 原始数据管理
                        </a>
                    </li>
                    <li>
                        <a href="datatables.html">
                            <i class="fa fa-caret-right"></i> 转换数据管理
                        </a>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-desktop"></i> 爬虫任务管理 <b class="fa fa-plus dropdown-plus"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="login.html">
                            <i class="fa fa-caret-right"></i> 任务配置管理
                        </a>
                    </li>
                    <li>
                        <a href="calendar.html">
                            <i class="fa fa-caret-right"></i> 任务日志管理
                        </a>
                    </li>
                    <li>
                        <a href="page500.html">
                            <i class="fa fa-caret-right"></i> 执行任务管理
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-list"></i> 系统管理 <b class="fa fa-plus dropdown-plus"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="form-elements.html">
                            <i class="fa fa-caret-right"></i> 服务器管理
                        </a>
                    </li>
                    <li>
                        <a href="validation-elements.html">
                            <i class="fa fa-caret-right"></i> 日志管理
                        </a>
                    </li>
                </ul>
            </li>

        </ul>

    </li>

    <li class="summary" id="order-summary">
        <a href="#" class="sidebar-toggle underline" data-toggle="#order-summary">数据统计 <i
                class="fa fa-angle-up"></i></a>

        <div class="media">
            <a class="pull-right" href="#">
                <span id="sales-chart"></span>
            </a>
            <div class="media-body">
                已爬取url数量
                <h3 class="media-heading">26, 149</h3>
            </div>
        </div>

        <div class="media">
            <a class="pull-right" href="#">
                <span id="balance-chart"></span>
            </a>
            <div class="media-body">
                已爬取数据大小
                <h3 class="media-heading">318, 651</h3>
            </div>
        </div>

        <div class="media">
            <a class="pull-right" href="#">
                <span id="balance-chart-1"></span>
            </a>
            <div class="media-body">
                正在执行任务
                <h3 class="media-heading">318, 651</h3>
            </div>
        </div>

    </li>

    <li class="settings" id="general-settings">
        <a href="#" class="sidebar-toggle underline" data-toggle="#general-settings">基本设置 <i
                class="fa fa-angle-up"></i></a>

        <div class="form-group">
            <label class="col-xs-8 control-label">Switch ON</label>
            <div class="col-xs-4 control-label">
                <div class="onoffswitch greensea">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-on" checked="">
                    <label class="onoffswitch-label" for="switch-on">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-8 control-label">Switch OFF</label>
            <div class="col-xs-4 control-label">
                <div class="onoffswitch greensea">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-off">
                    <label class="onoffswitch-label" for="switch-off">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>

    </li>


</ul>