<div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top" role="navigation" id="navbar">
    {% include 'layout/nav/nav-top-branding.html' %}
    <div class="navbar-collapse">
        <ul class="nav navbar-nav refresh">
            <li class="divided">
                <a href="#" class="page-refresh"><i class="fa fa-refresh"></i></a>
            </li>
        </ul>
        <ul class="nav navbar-nav html-full">
            <li class="divided">
                <a href="#" class="html-full-a"><i class="fa fa-refresh"></i></a>
            </li>
        </ul>
        {% include 'layout/nav/nav-quick-actions.html' %}
        {% include 'layout/nav/nav-top-side.html' %}
    </div>
</div>